.bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: bubble-animation 3s infinite;
  }
  
  @keyframes bubble-animation {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }