/*套餐*/
.package-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
 
  .package-header {
    background-image: url('./img/56AB643C-BE2F-4170-B324-82532B10F76A.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; /* 根据需要调整高度 */
    width: 1000px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* 备用背景色 */
  }
  /* 弹窗容器样式 */
.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 关闭按钮样式 */
.popup-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* 弹窗中的图片样式 */
.popup-image-full {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
}