@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1734524199627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai3:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-wode:before {
  content: "\e607";
}

